.header {
    height: 80px;
    background-color: #002245;
    display: flex;

    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    z-index: 9999;
    opacity: 0.8;
    left: 0;
    right: 0;
}