.skillsBlock {
    background-color: white;
    width: 350px;
    display: flex;
    margin-bottom: 70px;
    flex-direction: column;
    clear: both;
    float: left;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,.09);
    padding: 60px 40px 53px;
    top: 0;
    border-radius: 5px;
    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .icon {
        margin-bottom: 20px;
    }
}
