.skillsBlock {
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 140px 0 125px;
}
.skillsContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.skillsTitle, .skillsTitle h2 {
    width: 100%;
    height: auto;
    float: left;
}

.skillsTitle h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.4;
    font-family: montserrat;
    color: #000;
}
.skillsTitle span {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #4169e1;
    font-weight: 500;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 90px;
    margin-bottom: 90px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both;
}

.progressWrapInner {
    height: auto;
    clear: both;
    float: left;
    display: flex;
}

.left {
    width: 50%;
    padding-right: 50px;
}
.mainTitle {
    width: 100%;
    float: left;
    margin-bottom: 29px;
}
.mainTitle span {
    color: #4169e1;
}
.right {
    width: 50%;
    height: auto;
    padding-left: 30px;
    position: relative;
    top: -5px;
}
