@import "src/common/styles/sass/variables";

.main {
  min-height: 100vh;
  text-align: center;
  background-color: $secondContentBgColor;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 34, 69, .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    //background: radial-gradient(circle, rgba(193, 196, 209, 1) 0%, rgba(3, 3, 29, 1) 100%);
  }

  .photo {
    width: 350px;
    height: 350px;
    background-color: darkgray;
    position: relative;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 500px) {
      width: 200px;
      height: 200px;
    }
    @media screen and (max-width: 350px) {
      width: 150px;
      height: 150px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -8px;
      bottom: -8px;
      left: -8px;
      right: -8px;
      border-radius: 100%;
      background-color: $headAndFootBgColor;
      z-index: -1
    }
  }

  .text {
    //max-width: 300px;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: $mainFontStyle;
    z-index: 1;

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 700;
      @media screen and (max-width: 350px) {
        font-size: 25px;
      }
    }

    h1 span {
      color: #4169e1;
    }
  }
}



