.main {
    min-height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main::before {
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.text {
    width: 300px;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: montserrat;
    z-index: 1;
}
.text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}
.photo {
    width: 350px;
    height: 350px;
    background-color: darkgray;
    position: relative;
    z-index: 1;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
}

@media screen and (max-width: 500px) {
    .photo {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 350px) {
    .photo {
        width: 150px;
        height: 150px;
    }
    .text h1 {
        font-size: 25px;
    }
}