.nav {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: block;
    position: relative;
    padding: 13px 0;
}
.navContainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}