@import "src/common/styles/sass/variables";

.footer {
    //box-sizing: border-box;
    height: 25vh;
    background-color: $headAndFootBgColor;
    color: $textColor;
    text-transform: capitalize;
    padding: 40px 0;
    .footerContainer {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .contacts {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
    }
}

